@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Józefa Rostafińskiego, Kraków<br />
    AGH Campus - Rostafińskiego 4 - DS 7 Zaitsek<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:WebProgrammingAGH@example.com">SupportAGHWebProgramming@example.com</a><br />
</address>